<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<h1>Welcome Home, <%=name%> </h1> 

	<a href="/home/profile">Profile</a> 
	
	<!-- <a href="/home/adduser">Add User</a> | -->
	<a href="/home/tutionlist">Tution List</a> |
	<a href="/home/search">Search</a> |
	<a href="logout">logout</a> 

</body>
</html>