<!DOCTYPE html>
<html>
<head>
	<title>TUTOR Profile </title>
</head>
<body>

<h1>TUTOR Profile</h1> 

	<a href="/home">Back</a> 
	<a href="/logout">logout</a> 
	<a href="/home/edit/<%=id%>">Edit</a>

	<br>
	<br>

	<table border="1" width="300px" >
		<tr>
			<td width="35%">User Name</td>
			<td width="2%">:</td>
			<td><%=username%></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>:</td>
			<td><%=password%></td>
		</tr>
	</table>

</body>
</html>